---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Location' id='sSjfnXC8HBabjnQwF' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: State of New York - Change History</h2>
  <p>History of changes for sSjfnXC8HBabjnQwF {{type | downcase}}.</p>

  {%include Location-sSjfnXC8HBabjnQwF-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
