---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Location' id='KuCc5Qat7hFGKYzCf' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: State of Nevada - Change History</h2>
  <p>History of changes for KuCc5Qat7hFGKYzCf {{type | downcase}}.</p>

  {%include Location-KuCc5Qat7hFGKYzCf-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
