---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Location' id='BdPME6PAm7McYxize' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: State of New Jersey - Change History</h2>
  <p>History of changes for BdPME6PAm7McYxize {{type | downcase}}.</p>

  {%include Location-BdPME6PAm7McYxize-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
